h1 {
  text-decoration: none;
  color: black;
  text-align: center;
  margin: auto;
}
p {
  font-size: 20px;
}
a {
  text-align: center;
}
body {
  background-color:#ddffdd;
  height: 150%;
}
h2 {
  font-family: cursive;
  color:green;
}
#contacts {
 
}
