body
{
	margin: 0px;
	padding: 10px;
	background-color: #9999aa;
}
table.main
{
	width : 100%;
	margin: 0px;
	padding: 0px;
	font: 14pt Arial;
	color: #f2f2f2;
	border: 2px solid #666666;
	height: 100%;
}
.main td
{
	margin: 0px;
	padding: 0px;
}

.main td.title, .title p
{
	background-color: #7777aa;
	color: #ffffff;
	margin-left: 100px;
	font-size: 30px;
	letter-spacing: 3px;
	padding: 0px;
	height: 1em;
}

.menu
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow: hidden;
}
.main td.menu
{
	margin: 0px;
	padding: 10px;
	width: 8%;
	background-color: #ffffff;
	vertical-align: top;
	border-width: 0px;
}
.menu ul
{
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
}
.menu li
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: #ffffff;
	letter-spacing: 1px;
	list-style-type: none;
}
.menu a, .menu a:hover
{
	margin: 0px;
	padding: 5px;
	width: 90%;
	display: block;
	color: #000000;
	text-decoration: none;
	font-size: 10pt;
	border-bottom: 1px #eeeeee solid;
}
.menu a:hover
{
	background-color: #d8cfff;
}
.menu a.current
{
	background-color: #ccccdd;
}

.main td.content, .content a
{
	font-size: 12pt;
}
.main td.content
{
	padding: 10px;
	background-color: #ffffff;
	color: #222222;
	border-left: 2px dotted #dddddd;
	vertical-align: top;
}
.content a, .content a:visited
{
	color: #4444aa;
	text-decoration: none;
}
.content a:hover
{
	color: #4444aa;
	text-decoration: underline;
}
.content hr
{
	width: 100%;
	text-align: center;
	color: #dddddd;
	margin: 20px 0px;
	padding: 0px;
}
h1, h2, h3, h4
{
	font-weight: bold;
	text-align: left;
	margin: 0px;
	padding: 5px 0px;
	color: #660000;
}
h1
{
	font-size: 20pt;
}
h2
{
	font-size: 17pt;
}
h3
{
	font-size: 14pt;
}
h3
{
	font-size: 13pt;
}
p
{
	margin: 10px 0px;
	padding: 0px;
}
ul
{
	margin: 10px 0px;
	padding: 0px 20px;
}
ul.catalog
{
	margin-top: 0px;
}
.catalog li
{
	margin-top: 8px;
	margin-bottom: 8px;
}
pre
{
	background-color: #e9e9e9;
	color: #000000;
	padding: 5px 10px;
}
p.formula
{
	background-color: #e9e9e9;
	color: #000000;
	padding: 5px 10px;
}
.table1 {
	margin: 10px 0px;
	padding: 0px;
	border: 1px solid #999999;
	text-indent: 0px;
}
.table1 td, .table1 th {
	margin: 0px;
	padding: 5px;
	border: 1px solid #999999;
	text-align: center;
}
.table1 th {
	text-align: center;
	font-weight: bold;
}
.table2 {
	margin: 10px 0px;
	padding: 0px;
	border: 1px solid #999999;
	text-indent: 0px;
	width: 100%;
}
.table2 td, .table2 th {
	margin: 0px;
	padding: 5px;
	border: 1px solid #999999;
	text-align: center;
}
.table2 th {
	text-align: center;
	font-weight: bold;
}


p.algoinfo {
	text-align: right;
	font-size: 9pt;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

img.tex {
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}


.link {
	color: #4444aa;
	text-decoration: none;
	cursor: pointer;
}
.link :hover {
	color: #4444aa;
	text-decoration: underline;
}
